<div class="sam-stream-list">
    <div class="stream-list">
        <div *ngFor="let item of pagingResult?.data" #listRef>
            <a [routerLink]="getHrefForStream(item)">
                <div class="img">
                    <img [src]="item[samListProperty.image]" alt="img" (error)="imageErrorHandler($event)"/>
                </div>
                <div class="txt">
                    <h4>
                        <img src="http://update.coolmessenger.com/_ImageServer/samgular/sam-sx.png" alt="img"/>
                        {{item[samListProperty.samstoryTitle]}}
                    </h4>
                    <h3>{{item[samListProperty.title]}}</h3>
                </div>
            </a>
            <div class="info">
            <span>
                <img src="//update.coolmessenger.com/_ImageServer/samstory/images/view.png" alt="view">
                1
            </span>
                <span>
                <img alt="하트 이미지" src="//update.coolmessenger.com/_ImageServer/samstory/images/hit_pink.png"/>
                1
            </span>
                <span>
                <a>
                    <img alt="댓글 이미지" src="//update.coolmessenger.com/_ImageServer/samstory/images/comment.png">
                    1
                </a>
            </span>
            </div>
        </div>
    </div>
</div>
